*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(124, 132, 84);  
    display: flex;
    animation-name: fondo;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

@keyframes fondo
{
   0%{ background-color: rgb(141, 109, 109);}
   25%{ background-color: rgb(154, 148, 125);}
   50%{ background-color: rgb(122, 131, 109);}
   75%{ background-color: rgb(97, 118, 124);}
   100%{ background-color: rgb(128, 102, 110);}
}


p{
    opacity: .2;
}



h2{
    display: flex;
    background-color: rgb(118, 63, 69);
    padding: 30px;
    border-radius: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    color: rgb(218, 158, 143);
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
   
    font-size: 50px;
}


/*galeria*/

.galeria{
    display: flex;
   position: absolute;
   left: 32%;
    display: flex;
    margin-right: 400px;
    top: 150px;
    height: 500px;
    width: 500px;
    background-color: rgb(173, 135, 119);
  padding: 60px;
  border-radius: 40px;
  opacity: .7;
  transition: opacity 2s, width 3s, top 2s, left 3s, height 3s;
  animation-name: galeria;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  
}

@keyframes galeria
{
   0%{ background-color: rgb(173, 121, 121);}
   25%{ background-color: rgb(181, 171, 126);}
   50%{ background-color: rgb(143, 169, 105);}
   75%{ background-color: rgb(111, 162, 176);}
   100%{ background-color: rgb(201, 135, 156);}
}



.galeria:hover{
    opacity: 1;
    width: 700px;
    top: 140px;
    left: 27%;
    height: 550px;
    
    
    

}

.botones{
position: fixed;
opacity: .8;
margin: 20px;
padding: 20px;

}

a{
    text-decoration: none;}


    .piel{
        display: flex;
        position: absolute;
        left: 31%;
         display: flex;
        
         top: 690px;
         height: 550px;
         width: 550px;
         background-color: rgb(173, 135, 119);
       padding: 60px;
       border-radius: 40px;
       opacity: .7;
    
       transition: opacity 2s, width 3s, top 2s, left 3s, height 3s;
       animation-name: piel;
       animation-duration: 10s;
       animation-iteration-count: infinite;

    }

    @keyframes piel
    {
       0%{ background-color: rgb(173, 121, 121);}
       25%{ background-color: rgb(181, 171, 126);}
       50%{ background-color: rgb(143, 169, 105);}
       75%{ background-color: rgb(111, 162, 176);}
       100%{ background-color: rgb(201, 135, 156);}
    }
    



    .piel:hover{
        opacity: 1;
        width: 750px;
        
        left: 25%;
        height: 550px;
        
        
        
    }    

    