<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Accesorios Maladaptive Tattoo</title>
    <link rel="stylesheet" href="../css/tintas.css">
</head>
<body>
  <header>
    <h1 class="acce">Accesorios</h1>
  </header>

<main>

    
    <div class="botones">
    
        <a href="../views/maquinas.html"><button type="button" class="btn btn-lg">Maquinas</button> </a>

        <a href="../views/galeria.html"><button type="button" class="btn btn-lg">Galería</button></a>

        <a href="../views/tintas.html"><button type="button" class="btn btn-lg">Tintas</button></a>
        
        
        
       </div>


</main>



<section class="acce2">

  <p>Caja De 10 Stigma-Rotary® Cartuchos De Agujas Avanzado (Todas Las Configuraciones)
  </p>

  <p class="text">
    Los cartuchos de agujas STIGMA están diseñados teniendo muy presente la seguridad: Tienen un capuchón sellador externo para prevenir cualquier filtración hasta el grip y la máquina: Herméticamente unido con un grip STIGMA el cartucho de agujas conforma un precinto doble impidiendo su protección en forma de paraguas que sangre o tinta alcancen los lados del cartucho.

El capuchón sellador externo tiene además una característica fundamental: El espesor y la elasticidad del material gomoso del que está hecho le hacen actuar además como un sistema de amortiguación, proporcionando entre un 5 y un 10% más de suavidad sobre la vibración. Esto resulta óptimo no sólo para rellenar, sino también para dibujar líneas, pues los rellenos se afinan y las líneas se hacen más nítidas que sin la amortiguación, haciendo así más grata su experiencia tatuando.

  </p>

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/pun1.jpg" class="d-block w-100" alt="pun1">
      </div>
      <div class="carousel-item">
        <img src="../assets/pun2.jpg" class="d-block w-100" alt="pun2">
      </div>
      <div class="carousel-item">
        <img src="../assets/pun3.jpg" class="d-block w-100" alt="pun3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>














<footer class="insta">

    <a href="https://www.instagram.com">📷</a>

</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>


    
</body>
</html>