<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Accesorios Maladaptive Tattoo</title>
    <link rel="stylesheet" href="../css/tintas.css">
</head>
<body>
  <header>
    <h1 class="acce">Accesorios</h1>
  </header>

<main>

    
    <div class="botones">
    
        <a href="../views/maquinas.html"><button type="button" class="btn btn-success">Maquinas</button> </a>

        <a href="../views/galeria.html"><button type="button" class="btn btn-danger">Galería</button></a>

        <a href="../views/tintas.html"><button type="button" class="btn btn-warning">Tintas</button></a>
        
        
        
       </div>
</main>


<section class="cajas">






</section>









<footer class="insta">

    <a href="https://www.instagram.com">📷</a>

</footer>


    
</body>
</html>