<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Maladaptive Tattoo Tintas</title>
    <link rel="stylesheet" href="../css/tintas.css">
    
</head>
<body>
    <header>
        <h1>Tintas</h1>
    </header>


 <main>

    <div class="botones">
    
        <a href="../views/maquinas.html">
    
          <button type="button" class="btn btn-lg">Maquinas</button>
        </a>


    
        <a href="../views/galeria.html"><button type="button" class="btn btn-lg">Galería</button></a>
        <button type="button" class="btn btn-lg">Accesorios</button>
        
        
       </div>


<secion class="logo">
    <img src="../assets/logo.jpg" width=" 222px" alt="logo"> 
</secion>


<section class="texto">

    <p class="texto">Conocé las marcas que utilizamos.
    </p>

    <p class="texto2">Las tintas son vegetales, testeadas dermatológicamente, y ofrecen la mejor saturación y durabilidad del color.
    </p>

    <p class="texto3">La tintas no están a la venta.</p>

</section>


<div class="colores">


<div class="Negro">NEGRO</div>

<div class="Blanco">BLANCO</div>

<div class="Rojo">ROJO</div>

<div class="Azul">AZUL</div>

<div class="Amarillo">AMARILLO</div>

<div class="Vacio"> </div>


</div>


<div class="roja">
   

        <img class="tintaroja" src="../assets/rojo1.jpg"  alt="roja1">
    
    

        <img class="tintaroja" src="../assets/rojo2.jpg"  alt="roja2">
    
   

        <img class="tintaroja" src="../assets/rojo3.jpg"  alt="roja3">
    
</div>

<div class="negra">
   

    <img class="tintanegra" src="../assets/negro1.jpg"  alt="negra1">



    <img class="tintanegra" src="../assets/negro2.jpg"  alt="negra2">



    <img class="tintanegra" src="../assets/negro3.jpg"  alt="negra3">

</div>

<div class="blanca">
   

    <img class="tintablanca" src="../assets/blanco1.jpg"  alt="blanca1">



    <img class="tintablanca" src="../assets/blanco2.jpg"  alt="blanca2">



    <img class="tintablanca" src="../assets/blanco3.jpg"  alt="blanca3">

</div>


<div class="aazul">
   

    <img class="tintaazul" src="../assets/azul1.jpg"  alt="azul1">



    <img class="tintaazul" src="../assets/azul2.jpg"  alt="azul2">



    <img class="tintaazul" src="../assets/azul3.jpg"  alt="azul3">

</div>


<div class="amarilla">
   

    <img class="tintaamarilla" src="../assets/amarillo1.jpg"  alt="amarilla1">



    <img class="tintaamarilla" src="../assets/amarillo2.jpg"  alt="amarilla2">



    <img class="tintaamarilla" src="../assets/amarillo3.jpg"  alt="amarilla3">

</div>





 </main>








<footer>


        <a href="https://www.instagram.com">📷</a>
          

</footer>



</body>
</html>